/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Sections */
section {
  padding: 80px 0;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
}

/* Projects */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 30px;
  padding: 20px;
}

.card img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.card-content {
  text-align: center;
}

.card-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
}

/* Contact form 
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
*/

/* Contact form */
.contact-form {
  display: flex;
  justify-content: flex-start;
}

.contact-form form {
  width: 100%;
  max-width: 400px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.contact-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Back to nav links */
.back-to-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.back-to-nav a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.back-to-nav a:last-child {
  margin-right: 0;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
}
